
body{
    margin:0;
    padding:0;
}
.section{
    background-color: rgb(17, 17, 17);
  
}


.title{
text-align: center;
margin-bottom: 1.5rem;
padding-top: 5rem ;
font-size:x-large;
font-family: Arial, Helvetica, sans-serif;
text-transform: capitalize;
font-weight: bold;
color:beige;

}
.underline{
   width: 6rem;
   height: 0.25em;
   background:#0fb418;
   margin-left: auto;
   margin-right: auto; 
   border-radius: 5px;
}
.img{
  position: absolute;
  top: 8px;
  left: 16px;
  width: 200px;
  height: 170px;
  border:2px white solid;
  border-radius: 30px;
}
